<form class="User" action="/p" method="post">
    <input type="text" name="newProduct" placeholder="New Product" autocomplete="off">
    <button type ="submit" name="list" >Add product</button>
</form>