<form class="User" action="/o" method="post">
    <input type="text" name="newOrder" placeholder="New Order" autocomplete="off">
    <input type="text" name="newTime" placeholder="time" autocomplete="off">
    <input type="text" name="price" placeholder="price" autocomplete="off">
    <button type ="submit" name="list" >Place order</button>
</form>