<h3>Customer Links</h3>
<a href="/view_customers"><p>For viewing customers</p></a>
<a href="add_customers">For adding customers</a>
<a href="/delete_customers"><p>For deleting customers</p></a>
<a href="/update_customer/:ID"><p>For editing customers. Add ID of the customer in the link in place of :ID</p></a>
<a href="/customer/:ID"><p>For viewing single customer.Add ID of the customer in the link in place of :ID</p></a>
<h3>Products links</h3>
<a href="/view_products"><p>For viewing products</p></a>
<a href="add_products">For adding products</a>
<a href="/delete_products"><p>For deleting products</p></a>
<a href="/update_product/:ID"><p>For editing product. Add ID of the product in the link in place of :ID</p></a>
<a href="/product/:ID"><p>For viewing single product.Add ID of the product in the link in place of :ID</p></a>
<h3>Orders links</h3>
<a href="/view_orders"><p>For viewing orders</p></a>
<a href="add_orders">For adding orders</a>
<a href="/delete_orders"><p>For deleting orders</p></a>
<a href="/update_order/:ID"><p>For editing order. Add ID of the order in the link in place of :ID</p></a>
<a href="/order/:ID"><p>For viewing single order.Add ID of the order in the link in place of :ID</p></a>

<h3>Some IDs</h3>
<h4>Customer IDS</h4>
<p>62d9177267a73acd50f17fbb</p>
<p>62d9177267a73acd50f17fbc</p>
<p>62d9177267a73acd50f17fbd</p>
<p>62d94c312560b1b8d0b7da88</p>

<h4>Products IDS</h4>
<p>62d918b967a73acd50f17fbe</p>
<p>62d918cb67a73acd50f17fbf</p>
<p>62d918da67a73acd50f17fc0</p>
<p>62d94e8312886028bd737f2a</p>

<h4>Order IDS</h4>
<p>62d9196e67a73acd50f17fc3</p>
<p>62d9199567a73acd50f17fc4</p>
<p>62d919cc67a73acd50f17fc5</p>
<p>62daa2f9c6a9562b8125b30a</p>