<h4><%=product.title%></h4>
<form class="Product" action="/spupdate" method="post">
    <input type="text" name="Product" placeholder="Update Product" autocomplete="off">
    <button type ="submit" name="list" value="<%=product._id%>">Update Product</button>
</form>