<h4><%=user.title%></h4>
<form class="User" action="/scupdate" method="post">
    <input type="text" name="User" placeholder="New User" autocomplete="off">
    <button type ="submit" name="list" value="<%=user._id%>">Update user</button>
</form>